.form-group{
    border: 3px solid black;
    box-shadow: 10px 10px 10px gray;
    height: fit-content;
    width: min-content;
    background-color: grey;
}

p{
    color: white;
}

div{
    margin: 1em;
    padding: 1em;
}

label{
    font-weight: bold;
}

input{
    width: 20em;
    border: 2px solid black;
}

select{
    width: 20em;
    border: 2px solid black;
}


#check-input{
    display: flex;
    flex-direction:row ;
    margin: 5px;
}

#check-input label{
    margin-left: 1em;
    height: max-content;
    width: max-content;
}

#check-input input{
    margin-top: 2px;
    width: min-content;
    height: max-content;
}

.mat-form-field{
    width: 20em;
}

#btn{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
