<form id="formulario" [formGroup] = "usuarioForm">
<div class="form-group">
        
    <div>
        <label for = "nombre">Nombre Cliente</label>
        <br>
        <input type="text" id="nombreCliente" formControlName = "nombre" />
    
    </div> 

    <div>
        <label for = "apellido">Apellido Cliente</label>
        <br>
        <input type="text" id="apellidoCliente" formControlName = "apellido" />   
    </div>

    <div>   
        <label for = "Genero">Genero</label>
        <br>
        <div id = "check-input">
            <input type="radio" name = "generos" value = "Hombre" formControlName = "generos" /> 
            <label for="hombre">Hombre</label>
        </div>

        <div id = "check-input">
            <input type="radio" name = "generos" value = "Mujer" formControlName = "generos" /> 
            <label for="mujer">Mujer</label> 
        </div>

        <div id = "check-input">
        <input type="radio" name = "generos" value = "Otro" formControlName = "generos"/>
        <label for="otro">Otro</label>
        </div>
    </div>

    <div>
        <label for = "Pais">Pais</label>
        <br>
        <select name="Paises" formControlName = "paises">
            <option value="" disabled selected>Select</option>
            <option *ngFor = "let pais of paises" value="pais" [ngValue] = "pais">
                {{pais}}
            </option>
        </select>
    </div>

    <div>
        <label for = "Ciudad">Ciudad</label>
        <br>
        <input type="text" id="ciudadCliente" formControlName = "ciudad" placeholder="input"/>
    </div>

    <div id="btn">
        <button type = "button" class="btn btn-default" (click) = "onReset()" >Cancelar</button>
        <button type = "submit" class="btn btn-success" (click) = "onSubmit()">Crear</button>
    </div>

</div>
    <p>
        Form Status: {{usuarioForm.status}}
    </p>
    
</form>

<div>

