#toolbar{
    background-color: black;
    padding: 20px;
}

span{
    padding-left: 10px;
}

#navegador{
    border: 1px solid gray;
}

button{ 
    margin-right: 2px;
    background-color:cadetblue;
}

a{
    text-decoration: none;
    color: black;
}